.main-text {
    width: 30%;
    margin : 10%;
    position: relative;
    bottom: 30px;
    left: 50px;
}

.main-h1 {
    color: #5a1561;
    width: 60%;
    font-size: 35px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.main-p {
    color: #766fa0;
    text-align: left;
    width: 60%;
}

.rating1 {
    padding-bottom: 10px;
}

.review1 {
    color: #5a1561;
    background-color: #f5e6f8;
    width: 20%;
    border-radius: 10px; 
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 15%;
    display: inline-block;
}

.review2 {
    color: #5a1561;
    background-color: #f5e6f8;
    width: 20%;
    border-radius: 10px; 
    padding: 5px;
    position: absolute;
    left: 55%;
    top: 20%;
    display: inline-block;
}

.review3 {
    color: #5a1561;
    background-color: #f5e6f8;
    width: 20%;
    border-radius: 10px; 
    padding: 5px;
    position: absolute;
    left: 60%;
    top: 25%;
    display: inline-block;
}

.test1 {
    color: white;
    background-color: #5a1561;
    border-radius: 10px; 
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 200px;
    bottom: 100px;
}

.test2 {
    color: white;
    background-color: #5a1561;
    border-radius: 10px; 
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 600px;
    bottom: 70px;
}

.test3 {
    color: white;
    background-color: #5a1561;
    border-radius: 10px; 
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 1000px;
    bottom: 40px;
}

.test-img {
    height: 15%;
    width: 15%;
    float: left;
    padding-right: 10px;
}

.verified-buyer{
    color: #f5e6f8;
}

