body {
    background-color: #FF7A7A;
    margin: 0;
    padding: 0;
    width: auto;
    overflow-x: hidden;
}

.bg {
    position: fixed;
}

.main {
    color: white;
    position: relative;
    top: 32vh;
    left: 32vh;
    width: 35%;
}

.main-h {
    font-size: 60px;
}

.main-p {
    font-size: 20px;
}